/* info bar start */
#info
{
   width:65px;
   height:100%;
   position:fixed;
   right:0px;
   top:0px;

   background-color:#ededed;      
}
#info .female
{
   position:absolute;   
   bottom:20px; 
   width:65px;
   text-align:center;
}
#info .male
{
   position:absolute;
   top:20px;   
   width:65px;
   text-align:center;
}
#info .male .piggy_happy
{
   background:transparent url("../images/piggyhappy.png") no-repeat;
   background-size:76px;
   position:absolute;
   top:-34px;
   width:177px;
   height:191px;
   -ms-transform: rotate(-7deg); /* IE 9 */
   -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
   transform: rotate(-7deg);
   left:3px;
}
#info .female .piggy_unhappy
{
   background:transparent url("../images/piggyhappy.png") no-repeat;
   background-size:76px;
   position:absolute;
   top:-41px;
   width:177px;
   height:191px;
   -ms-transform: rotate(5deg); /* IE 9 */
   -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
   transform: rotate(5deg);
   left:-14px;
}
#info .fdiff
{
   position: relative;
   top: 0px;
   left: 0px;
}
#info .mdiff
{
   position: relative;
   top: 15px;
   left: 11px;
}
#info .y
{
   position:absolute;
   width:63px;
   text-align:center;
   border:1px;
}
/* year ticker */
#info .y > div
{
   position:relative;
   top:0px;
   left:0px;
}
#info .mask
{
   position:absolute;
   top:0px;
   left:0px;
   width:63px;
   height:31px;
   background:transparent url('../images/year_mask.png') no-repeat;
   background-size:63px 21px;
   background-position:0px 5px;
}
#info .y .year
{
   position:absolute;
   top:0px;
   left:0px;
   height:31px;
   line-height:31px;
   width:63px;
   text-align:center;
   z-index:1102;
}