@font-face {
    font-family: "opensans-r";    
    src: url( '../fonts/opensans-r.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}
body,html
{
   overflow:hidden;
   height:100%;
   margin:0px;
   padding:0px;
}
#screen
{
   position:fixed;
   width:100%;
   height:100%;
   top:0px;   
   left:0px;
   right:70px;
   bottom:0px;   
   margin-right:100px;
}
#screen.intro
{
   display:inline-block;
}
#screen.intro .title
{
   position:absolute;
   display:inline-block;
   font-family:Tahoma;
   font-size:25px;
   font-size:10vmin;
}
#screen.epilogue
{
   display:inline-block;
}
#screen.epilogue .title
{
   position:absolute;
   display:inline-block;
   font-family:Tahoma;
   font-size:25px;
   font-size:10vmin;
}
#screen .top, #screen .bottom,#screen .divider
{
   width:100%;
}
#screen .divider
{
  background-color:#ededed;
}

/*.m.character
{
   background:transparent url("../images/svg/m.svg") no-repeat;
   width:46px;
   height:100px;
   position:relative;
   left:0px;
}
.f.character
{
   background:transparent url("../images/svg/f.svg") no-repeat;
   width:46px;
   height:100px;
   position:relative;
   left:0px;
}*/
/* poll z-index */
.salary-picker,
.percent_picker 
{ z-index:310; }
.character { z-index:309; }
.poll-sub-label,
.age_picker,
.category-picker,
.interest_picker
{ z-index:305; } 

svg.stage-bk .mask{ z-index:301; }
svg.stage-bk { z-index:300; }

.abs { position:absolute; }
.rel { position:relative; }



.m svg.stage-bk circle.bk
{
   fill:#ff94f8;
   stroke-width:1;
   stroke:#ff94f8;
   
}
.f svg.stage-bk circle.bk
{
   fill:#add2ff;
   stroke-width:1;
   stroke:#add2ff;
}

.m svg.stage-bk circle.mask
{
   fill:#add2ff;
   stroke-width:1;
   stroke:#ff94f8;
   
}
.f svg.stage-bk circle.mask
{
   fill:#ff94f8;
   stroke-width:1;
   stroke:#add2ff;
}

/* screen 2 end */
/* info bar start */
#info
{
   width:65px;
   height:100%;
   position:fixed;
   right:0px;
   top:0px;

   background-color:#ededed;      
}
#info .female
{
   position:absolute;   
   bottom:20px; 
   width:65px;
   text-align:center;
}
#info .male
{
   position:absolute;
   top:20px;   
   width:65px;
   text-align:center;
}
#info .male .piggy_happy
{
   background:transparent url("../images/piggyhappy.png") no-repeat;
   background-size:76px;
   position:absolute;
   top:-34px;
   width:177px;
   height:191px;
   -ms-transform: rotate(-7deg); /* IE 9 */
   -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
   transform: rotate(-7deg);
   left:3px;
}
#info .female .piggy_unhappy
{
   background:transparent url("../images/piggyhappy.png") no-repeat;
   background-size:76px;
   position:absolute;
   top:-41px;
   width:177px;
   height:191px;
   -ms-transform: rotate(5deg); /* IE 9 */
   -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
   transform: rotate(5deg);
   left:-14px;
}
#info .fdiff
{
   position: relative;
   top: 0px;
   left: 0px;
}
#info .mdiff
{
   position: relative;
   top: 15px;
   left: 11px;
}
#info .y
{
   position:absolute;
   width:63px;
   text-align:center;
   border:1px;
}
/* year ticker */
#info .y > div
{
   position:relative;
   top:0px;
   left:0px;
}
#info .mask
{
   position:absolute;
   top:0px;
   left:0px;
   width:63px;
   height:31px;
   background:transparent url('../images/year_mask.png') no-repeat;
   background-size:63px 21px;
   background-position:0px 5px;
}
#info .y .year
{
   position:absolute;
   top:0px;
   left:0px;
   height:31px;
   line-height:31px;
   width:63px;
   text-align:center;
   z-index:1102;
}
/* info bar end */

.mchar,.fchar
{
   width:200px;
   height:200px;
   position:absolute;
   left:0px;
   border-radius: 200px 200px 200px 200px;
   -moz-border-radius: 200px 200px 200px 200px;
   -webkit-border-radius: 200px 200px 200px 200px;  
}
#age_picker
{

   position:absolute;
   left:0px;   
   top:0px;
   overflow:visible;
}
#age_picker path
{
   stroke:#d4d4d4;
}
#age_mover
{
   /*opacity:0.5;*/
   stroke:black;
   stroke-width:0;
   fill:#add2ff;
}
#age_mover:hover
{
   cursor:pointer;
}
.f #age_counter,.f .poll-sub-label
{
   color:#006EF3;
   fill:#006EF3;
   font-size:45px;
   font-family:opensans-r;
}
.m #age_counter,.m .poll-sub-label
{
   color:#006EF3;
   fill:#006EF3;
   font-size:45px;
   font-family:opensans-r;
}
.mchar
{
   background:transparent url("../images/svg/m.svg") no-repeat;
   background-size:46px 100px;
   background-position:77px 50px; 


}
.mb { border:1px solid #ff94f8; }
.mchar:hover,.mchar.selected
{
   cursor:pointer;
   background-color:#ff94f8;
}
.fchar
{
   background:transparent url("../images/svg/f.svg") no-repeat;
   background-size:46px 100px;
   background-position:77px 50px; 
   
}
.fb { border:1px solid #add2ff; }
.fchar:hover,.fchar.selected
{
   cursor:pointer;
   background-color:#add2ff;
}
.poll .slider
{
   background-color:#ededed;
   position:absolute;
   width:210px;
   height:55px;
   border:1px solid #eaeaea;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   overflow:hidden;
   margin:0px 100px 0px 100px;

}

.poll-label
{
   position: absolute;
   top: 10%;
   left: 5%;
   font-size: 50px;
   font-family: Arial;
}
.poll .on,.poll .off
{
   width:105px;
   height:55px;
   vertical-align:middle;
   text-align:center;
   line-height:55px;
   display:inline-block;
   font-family:opensans-r;
   position:relative;

}
.poll .on
{
   overflow:hidden;
   font-size:18px;
   color:#939393;
}
.poll .off
{
   background-color:rgba(19, 166, 17, 0.3);
   overflow:hidden;
   font-size:25px;
   color:#ededed;
}

.category-picker , .interest_picker
{

   left:0px;   
   top:0px;
   overflow:visible;
}
.category_item, .interest_item
{
   position:absolute;
   overflow:visible;
}

.category_item text, .interest_item text
{
   fill:#7c7c7c;
}

.category_item.f.selected text, .interest_item.f.selected text
{
   fill:#7c7c7c;
}
.category_item.m.selected text, .interest_item.m.selected text
{
   fill:#7c7c7c;
}
.category_item:hover circle,.category_item:focus circle,
.interest_item:hover circle,.interest_item:focus circle
{
   cursor:pointer;
}
.category_item.f circle,.interest_item.f circle
{   
   fill:#ff94f8;
}
.category_item.m circle,.interest_item.m circle
{   
   fill:#add2ff;
}
.category_item.f.selected circle,.interest_item.f.selected circle
{      
   stroke-width:1;
   stroke:#cfcfcf;
   fill:#add2ff;
}


.category_item.m.selected circle,.interest_item.m.selected circle
{      
   stroke-width:1;
   stroke:#cfcfcf;
   fill:#ff94f8;
}

.npicker input
{
   height: 55px;
   width: 181px;
   font-family: opensans-r;
   font-size: 40px;
   color: #006EF3;
   line-height:65px;
   text-align: center;
   border:1px solid #006EF3;
}
.npicker div:first-of-type
{
   border-left:1px solid #006EF3;
}
.npicker div:last-of-type
{
   border-right:1px solid #006EF3;
}
.npicker div
{
   height: 55px;
   width: 35px;
   font-family: opensans-r;
   font-size: 40px;
   color: #006EF3;
   line-height:55px;
   text-align: center;
   border-top:1px solid #006EF3;
   border-bottom:1px solid #006EF3;
   border-left:1px dashed #006EF3;
   display:inline-block;
}