      <% @stories.each do |story| %>

        <div class="story col-sm-4">
          <div class="clear story-header">
            <div class="pull-left date"><%= l story.created_at, format: :date_only %></div>
            <div class="pull-right type"><%= story.discrimination_type.name %></div>
          </div>
          <p>
            <% cls = story.content.is_georgian? ? 'geo-text-in-en' : '' %>
            <%= link_to story_path(story), class: cls do %>
              <%= truncate(story.content.gsub('&nbsp;', ''), separator: ' ', omission: '...', length: 250) %>
            <% end %>
          </p>
        </div> 

      <% end %>
