<div class='header'>
	<div class='title'>Congratulations you have won the pay game</div>
	<div class='title-score'>Final Score</div>
</div>
<div class='content'>
	<div class='grid'>
		<div class='row'>
			<div class='dummy'></div>
			<div class='human-state'>Winner</div>
			<div class='title-job'>Agriculture, hunting and forestry</div>
			<div class='human-state'>Loser</div>
		</div>
		<div class='row'>
			<div class='dummy'></div>
			<div class='female'></div>
			<div class='years-passed'>25 Years</div>
			<div class='male'></div>
		</div>
		<div class='row'>
			<div class='dummy'></div>
			<div class='dummy'></div>
			<div class='title-diff'>Difference</div>
			<div class='dummy'></div>
		</div>
		<div class='row'>
			<div class='icon-dollar'>$</div>
			<div class='human-salary'>500</div>
			<div class='human-salary-diff'>100</div>
			<div class='human-salary'>400</div>
		</div>
		<div class='row'>
			<div class='icon-piggy'>pig</div>
			<div class='human-salary'>200</div>
			<div class='human-salary-diff'>50</div>
			<div class='human-salary'>150</div>
		</div>
		<div class='row'>
			<div class='icon-award'>Award</div>
			<div class='human-award'>Facebook <%= f %></div>
			<div class='dummy'>100</div>
			<div class='human-award'><%= p %></div>
		</div>
	</div>
</div>
<div class='footer'>
	<div class='share btn'>Share</div>
	<div class='play-again btn'>Play Again</div>
</div>