<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
   <head>  
      <title></title>
      <meta charset="utf-8">  
      <meta property="og:title"content="Gap Game" />
      <meta property="og:site_name" content="Gap Game" />      
      <meta property="og:image" content="http://www.picturesnew.com/media/images/d5fe9ded7a.jpg" />
      <meta property="og:description" content="<%= @descr %>" />
      <meta property="og:url" content="<%= request.original_url %>" />
      <meta property="fb:app_id" content="737141426318491" />
      <meta property="og:type"   content="website" /> 
      <%= favicon_link_tag '/favicon.ico', :rel => 'shortcut icon' %>
   </head>
   <body>
   </body>
</html>