@font-face {
    font-family: "opensans-r";    
    src: url( '/assets/fonts/opensans-r.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "gandhi";    
    src: url( '/assets/fonts/gandhi-sans-i.otf') format("opentype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "gandhi-bi";    
    src: url( '/assets/fonts/gandhi-sans-bi.otf') format("opentype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "hallo";    
    src: url( '/assets/fonts/hallo-sans.otf') format("opentype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "hallo-li";    
    src: url( '/assets/fonts/hallo-sans-li.otf') format("opentype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "hallo-b";    
    src: url( '/assets/fonts/hallo-sans-bss.otf') format("opentype");           
    font-style: normal;
    font-weight: 200;
}

body,html
{
   overflow:hidden;
   height:100%;
   margin:0px;
   padding:0px;
}
#screen
{
   position:fixed;
   width:100%;
   height:100%;
/*   top:0px;   
   left:0px;
   right:70px;
   bottom:0px;   
   margin-right:100px;*/
   background-color:#d3eded;
}
#screen .splash
{
   display:inline-block;
}
#screen .splash .title
{
   position:absolute;
   display:inline-block;
   font-family:Tahoma;
   font-size:25px;
   font-size:10vmin;
}
.epilogue
{
   display:inline-block;
   position:fixed;
   top:10px;
   left:10px;
   width:100%;
   height:100%;
   border:1px solid #c4c4c4;
   background-color:rgba(255,255,255,0.99);
   overflow:hidden;
}
.epilogue .slider
{
  position:relative;
  top:0px;
  left:0px;
}
.epilogue .summary
{
  z-index:35;
  max-width: 1280px;
  margin:0px auto;
  overflow-y:auto;
  overflow-x:hidden;
}
.epilogue .summary .header,
.epilogue .summary .content,
.epilogue .summary .footer
{
  display:block;
  width:100%;
}
.epilogue .summary .header .title
{
  width:100%;
  font-family:Arial;
  font-size:24px;
  text-align:center;
  padding:30px 0px 20px 0px;
}
.epilogue .summary .header .title-score
{
  width:100%;
  font-family:Arial;
  font-size:20px;
  text-align:center;
}
/* content */
.epilogue .summary .content .grid
{
  width:70%;
  margin:30px auto;
}
.epilogue .summary .content .grid .row
{
  width:100%;
  padding:6px 10px;
  border-bottom:1px solid rgb(229, 229, 229);
}
.epilogue .summary .content .grid .row > div
{
  display:inline-block;
  overflow:hidden;
}
.epilogue .summary .content .grid .row > div:nth-child(1)
{
  width:10%;
  text-align:right;
}
.epilogue .summary .content .grid .row > div:nth-child(2)
{
  width:30%;
  text-align:center;
}
.epilogue .summary .content .grid .row > div:nth-child(3)
{
  width:20%;
  text-align:center;
}
.epilogue .summary .content .grid .row > div:nth-child(4)
{
  width:30%;
  text-align:center;
}
.epilogue .summary .content .grid .row .years-passed
{
  vertical-align:top;
}
/* footer */
.epilogue .summary .footer .share
{
  float:left;
  margin-left:50px;
}
.epilogue .summary .footer .play-again
{
  float:right; 
  margin-right:50px;
}
.epilogue .summary .footer .btn
{
  padding:12px 20px;
  background-color:white;
  border:1px solid rgb(229, 229, 229);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: arial;
  font-size: 20px;
}
.epilogue .summary .footer .btn:hover
{
  cursor:pointer;
  background-color:rgb(229, 229, 229);
  border:1px solid rgb(202, 202, 202);
}
.epilogue .whatnext
{
  display:inline-block;
  z-index:36;
  position:relative;
  top:0px;  
  background-color:lightblue;
}

.epilogue .whatnext-trigger
{
  width:100%;
  height:100px;
  position:relative;
  top:0px;
  left:0px;
  background-color:rgba(105, 105, 105, 0.45);
  display:inline-block;
  z-index:37;
}
.arrow
{
  background-size:58px 24px ;
  width:100%;
  height:24px;
  margin-top:38px; 
}
.arrow-up
{
  background:transparent url("../gap/svg/common/arrow-up.svg") no-repeat center center;
}
.arrow-down
{
 background:transparent url("../gap/svg/common/arrow-down.svg") no-repeat center center;
}
#screen .top, #screen .bottom
{
     width:100%;
     position:absolute;
}
.treasure
{
  z-index:40;
  width:100%;
}
.treasure > div
{
  display:inline-block;
}
.treasure .pedestal
{  
  z-index:50;
/*  background-color: rgb(5, 143, 252);
  margin-left: 30px;
  padding: 0px 10px;
  color: white;
  height: 30px;
  line-height: 30px;*/
}
.treasure .red-carpet
{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height: 50px;
  line-height: 50px;
  transition: all 0.2s ease-out;
  z-index:50;
}
.treasure .red-carpet .reward
{
  position:absolute;
  top:0px;
}
.treasure .card
{
  position:absolute; 
  left:0px;
  top:0px;   
  z-index:51;
  min-height:56px;
  min-width:100px;
  padding: 14px 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color:#fff;
  display:none;
}
.treasure > .card > div
{
  display:inline-block;
}
.treasure .card .coins
{
  /*width:100%;*/
}
.treasure > .card > .text
{
  font-family:gandhi-bi;
  font-size:16px;
  color:#a3af7f;
  vertical-align:top;
  padding-top:8px;

}
.treasure > .card > .text > .data
{
  font-family:gandhi;
}
.treasure .red-carpet .reward .item,
.treasure .card .coins .coin.item
{

  width:50px;
  height:50px;
  display:inline-block;     
  background-size:50px;
  background-repeat:no-repeat;
  background-position:0px;   
  margin-right:10px;  
  transition: all 0.2s ease-out;
  position:relative;
}
.treasure > .card > .fb
{
  background:transparent url("../gap/svg/common/fb2.svg") no-repeat;
  background-size:28px 28px;
  width:28px;
  height:28px;
  position:absolute;
  top:0px;
  right:0px;
}
.treasure > .card > .fb:hover
{
  cursor:pointer;
}
#screen .top .score, #screen .bottom .score
{     
  position: fixed;
  top: 11px;
  display:inline-block;
  z-index:35;
  right:60px;
}
#screen .top .score div, #screen .bottom .score div
{
   display:inline-block;
}
#screen .score .label
{
  font-family:hallo;
  font-size:16px;
  color:#d88166;  
}
#screen .score .value
{
  font-family:hallo-li-b;
  font-size:16px;
  color:#c85752;  
}
#screen .stage .fg .i{ z-index:33; }
#screen .stage .fg .o{ z-index:36; }
#screen .stage .bg,
#screen .stage .fg
{
   position:absolute;
}
#screen .stage .bg > img
{
  position:absolute;
  top:0px;
  left:0px;
  z-index:33;
}
#screen .stage .fg > img
{
  position:absolute;
}
#screen .top .stage,#screen .bottom .stage
{
   position:absolute;
   left:0px;
   top:0px;
   /*transition: all 0.5s ease-out;*/
}

.character
{
  z-index:34;
}
/*.male
{
   background:transparent url("../gap/svg/human/casual/mr.svg") no-repeat center center;
   background-size:46px 100px;
    width:46px;
   height:100px;
}
.female
{
   background:transparent url("../gap/svg/human/casual/fr.svg") no-repeat center center;
   background-size:46px 100px;
   width:46px;
   height:100px;
}*/
.m.character
{  
   background-image:url("../gap/svg/human/casual/m0.svg");
   background-color:transparent;
   background-size:67px 182px;
   background-repeat:no-repeat;
   width:67px;
   height:182px;
   position:absolute;
   left:0px;
   display:none;
}
.f.character
{
   background:transparent url("../gap/svg/human/casual/f0.svg") no-repeat;
    background-color:transparent;
   background-size:63px 172px;
   background-repeat:no-repeat;
   width:63px;
   height:172px;
   position:absolute;
   left:0px;
 display:none;
}
.l.character
{
  transform:scale(-1,1);
}
/* poll z-index */
.salary-picker,
.percent-picker 
{ z-index:31; }
.character { z-index:34; }

.poll-sub-label,
.age-picker,
.category-picker,
.interest-picker
{ z-index:32; } 
.logo,.poll .navigation, .poll .prompt { z-index:31; }
/*svg.stage-bk .mask{ z-index:31; }
svg.stage-bk { z-index:30; }*/

.abs { position:absolute; }
.rel { position:relative; }

.salary-picker,
.percent-picker 
{
   -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}
/*.m svg.stage-bk circle.bk
{
   fill:#ff94f8;
   stroke-width:1;
   stroke:#ff94f8;
   
}
.f svg.stage-bk circle.bk
{
   fill:#add2ff;
   stroke-width:1;
   stroke:#add2ff;
}

.m svg.stage-bk circle.mask
{
   fill:#add2ff;
   stroke-width:1;
   stroke:#ff94f8;
   
}
.f svg.stage-bk circle.mask
{
   fill:#ff94f8;
   stroke-width:1;
   stroke:#add2ff;
}*/

/* screen 2 end */


#screen .timeline
{
   position:absolute;
   background-color:#fffef9;
   width:100%;
}
.timeline .canvas
{
   position: relative;
   background-color: transparent;
   left: 0px; /*100px;*/
   width: 100%;
   height: 30px;
   overflow: hidden; 
   transition: all 0.2s ease-out;
}
#screen .timeline .point-in-time
{ 
   position:absolute;
   height: 30px;
   line-height: 30px;
   display:inline-block;
   top:0px;
}

.point-in-time .point
{
   width:81px;
   display:inline-block;
   text-align:center;
   font-family:hallo;
   font-size:16px;
   color:#c85752;
}
.point-in-time .mask
{
   position:relative;
   top:-30px;
   left:0px;
   width:81px;
   height:30px;
   background:transparent url('../gap/svg/common/point_mask.svg') no-repeat;
   background-size:81px 30px;
   background-position:0px 0px;
}
.timeline .serif
{
   position:absolute;
   top:0px;   
   width:1px;
   height:30px;
   background:transparent url('../gap/svg/common/timeline_tick.svg') no-repeat;
   background-size:1px 30px;
   background-position:0px 0px;
   display:inline-block;
}


.age-picker
{

   position:absolute;
   left:0px;   
   top:0px;
   overflow:visible;
}
.age-picker path
{
   stroke:#ead343;
}
.age-mover
{
   /*opacity:0.5;*/
   stroke:black;
   stroke-width:0;
   fill:#add2ff;
}
.age-mover:hover
{
   cursor:pointer;
}
/*
.mchar
{
  position:absolute;
   background:transparent url("../gap/svg/human/poll/md.svg") no-repeat; 
   background-size:100px 151px;
   width:100px;
   height:151px;
}*/
/*.mcharh:hover,.mcharh.selected
{
   background:transparent url("../gap/svg/human/poll/m.svg") no-repeat; 
   background-size:112px 175px;
   width:112px;
   height:175px;
   cursor:pointer;
}*/
/*.fchar
{
   position:absolute;
   background:transparent url("../gap/svg/human/poll/fd.svg") no-repeat;
   background-size:100px 151px;
   width:100px;
   height:151px;
}*/
/*.fcharh:hover,.fcharh.selected
{
  background:transparent url("../gap/svg/human/poll/f.svg") no-repeat; 
  background-size:112px 175px;
  width:112px;
  height:175px;
  cursor:pointer;
}*/



.poll .slider
{
   background-color:#ededed;
   position:absolute;
   width:210px;
   height:55px;
   border:1px solid #eaeaea;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   overflow:hidden;
  /* margin:0px 100px 0px 100px;*/
}

/*.info
{
   position: absolute;
   top: 10%;
   left: 5%;
   font-size: 50px;
   font-family: Arial;
}*/
.poll-sub-label
{
   color:#006EF3;
   fill:#006EF3;
   font-size:45px;
   font-family:opensans-r;
}
.slider .on,.slider .off
{
   width:105px;
   height:55px;
   vertical-align:middle;
   text-align:center;
   line-height:55px;
   display:inline-block;
   font-family:opensans-r;
   position:relative;

}
.slider .on
{
   overflow:hidden;
   font-size:18px;
   color:#939393;
   z-index:303;
}
.slider .on:hover
{
   cursor:pointer;
}
.slider .off
{
   background-color:rgba(19, 166, 17, 0.3);
   overflow:hidden;
   font-size:25px;
   color:#ededed;
   cursor:e-resize;
   z-index:302;
}

.category-picker , .interest-picker
{
   position:absolute;
   left:0px;   
   top:0px;
   overflow:visible;
}
.category-item, .interest-item
{
   position:absolute;
   width:0px;
   height:0px;
}
.category-item > img, .interest-item > img
{
  width:52px;
  height:52px;
  opacity:0.5;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
  z-index:51;
  position:relative;
}
.category-item > img:hover,.interest-item > img:hover
{
  opacity:1;
  cursor:pointer;
  -webkit-transition: opacity 400ms linear;
  -moz-transition: opacity 400ms linear;
  -ms-transition: opacity 400ms linear;
  -o-transition: opacity 400ms linear;
  transition: opacity 400ms linear;
}
.category-item.selected > img, .interest-item.selected > img
{
  opacity:1;
   -webkit-transition: opacity 400ms linear;
  -moz-transition: opacity 400ms linear;
  -ms-transition: opacity 400ms linear;
  -o-transition: opacity 400ms linear;
  transition: opacity 400ms linear;

}
.category-item.zoom > img, .interest-item.zoom > img
{
  opacity:1;
   -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
  transform:scale(1.5,1.5);

}
.salary-picker.zoom, .percent-picker.zoom
{
  opacity:1;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
  transform:scale(1.2,1.2);
}
.category-item > img:hover + .hint
{
  visibility:visible;
} 
.category-item > div.hint
{
  background-color:#fff;
  color:#b94531;
  fill:#b94531;
  font-family:gandhi;
  font-size:16px;
  white-space: pre;
  padding:6px 10px;
  position:relative;
  visibility:hidden;
  display: inline-block;
  z-index:50;
}
.interest-item > div.hint
{
  color:#c24b3e;
  fill:#c24b3e;
  font-family:gandhi;
  font-size:15px;
  white-space: pre;
  position:relative;
  display: inline-block;
}
.npicker.inactive
{
  opacity:0.5;

}
.npicker input
{
   height: 42px;
   width: 144px;
   font-family: hallo-li;
   font-size: 40px;
   color: #dd4832;
   line-height:40px;
   text-align: center;
   border:1px solid #ecdc69;
   display:none;
   outline:none;  
   margin-right:10px; 
}
.npicker .part:first-of-type
{
   /*border-left:1px solid #ecdc69;*/
}
.npicker div:nth-child(6)
{
   border-right:1px solid #ecdc69;
   margin-right:10px;
}
.npicker.inactive div.part
{
  cursor:default;
}
.npicker div.part
{
   height: 44px;
   width: 28px;
   font-family: hallo-li;
   font-size: 45px;
   color: #dd4832;
   line-height:44px;
   text-align: center;
   border-top:1px solid #ecdc69;
   border-bottom:1px solid #ecdc69;
   border-left:1px solid #ecdc69;
   display:inline-block;
   -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
/* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  cursor:row-resize;
}
.npicker div.t
{
  font-family:hallo-li;
  font-size:30px;
  color:#7abec3;
  white-space: pre;
  display:block;
}
.npicker div.t.left
{
  display:inline-block;
  text-align:right;
  font-size:27.5px;
  margin-right:30px;
  vertical-align:middle;
}
.npicker div.gel
{
  background:transparent url('/assets/gap/svg/common/gel.svg') no-repeat;
  background-size: 19px 23px;
  background-position: 0px 16px;
  width: 22px;
  height: 42px;
  display: inline-block;  

}

/* Progress Bar */
#svg circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke: #666;
  stroke-width: 20px;

}

#svg .bk
{
   stroke:#add2ff;
}

#svg #bar {
  stroke: #ff94f8;
  stroke-dashoffset: 314.16; 
}
#cont {
  display: block;
  height: 120px;
  width: 120px;
  margin: 2em auto;
  /*box-shadow: 0 0 1em black;*/
  border-radius: 100%;
  position: relative;

}
#cont:after {
  position: absolute;
  display: block;
  height: 120px;
  width: 120px;
  left: 0%;
  top: 0%;
  /*box-shadow: inset 0 0 1em black;*/
  content: attr(data-pct)"%";
/*  margin-top: -80px;
  margin-left: -40px;*/
  border-radius: 100%;
  line-height: 120px;
  font-size: 2em;
  text-align:center;
  /*text-shadow: 0 0 0.5em black;*/
}
/* Progress Bar */


.treasure .pedestal
{
   width:auto;
   position:fixed;
   left:10px;
}
.treasure .pedestal .interestB
{
   display:inline-block;
   position:relative;
  transition: all 2s ease-out;
}
 .treasure > .pedestal > .interestB > div.mutationB
{
   display:inline-block;
   height:50px;
   overflow:visible;
   white-space: nowrap;
}
.treasure .pedestal .interestB > div.item,
.treasure .pedestal .interestB > div.mutationB > div.item,
.interest
{
   width:50px;
   height:50px;
   display:inline-block;
   margin-left:10px;
   background-size:50px;
   background-repeat:no-repeat;
   background-position:0px;
   position:relative;
   top:0px;
   left:0px;
}
.vac-1 { background-image:url("../gap/svg/interest/vac_1.svg"); }
.vac-2 { background-image:url("../gap/svg/interest/vac_2.svg"); }
.vac-3 { background-image:url("../gap/svg/interest/vac_3.svg"); }
.vac-4 { background-image:url("../gap/svg/interest/vac_4.svg"); }
.vac-5 { background-image:url("../gap/svg/interest/vac_5.svg"); }
.vac-6 { background-image:url("../gap/svg/interest/vac_6.svg"); }
.gad-1 { background-image:url("../gap/svg/interest/gad_1.svg"); }
.gad-2 { background-image:url("../gap/svg/interest/gad_2.svg"); }
.gad-3 { background-image:url("../gap/svg/interest/gad_3.svg"); }
.gad-4 { background-image:url("../gap/svg/interest/gad_4.svg"); }
.gad-5 { background-image:url("../gap/svg/interest/gad_5.svg"); }
.gad-6 { background-image:url("../gap/svg/interest/gad_6.svg"); }
.edu-1 { background-image:url("../gap/svg/interest/edu_1.svg"); }
.edu-2 { background-image:url("../gap/svg/interest/edu_2.svg"); }
.edu-3 { background-image:url("../gap/svg/interest/edu_3.svg"); }
.edu-4 { background-image:url("../gap/svg/interest/edu_4.svg"); }
.edu-5 { background-image:url("../gap/svg/interest/edu_5.svg"); }
.edu-6 { background-image:url("../gap/svg/interest/edu_6.svg"); }
.hou-1 { background-image:url("../gap/svg/interest/hou_1.svg"); }
.hou-2 { background-image:url("../gap/svg/interest/hou_2.svg"); }
.hou-3 { background-image:url("../gap/svg/interest/hou_3.svg"); }
.hou-4 { background-image:url("../gap/svg/interest/hou_4.svg"); }
.hou-5 { background-image:url("../gap/svg/interest/hou_5.svg"); }
.hou-6 { background-image:url("../gap/svg/interest/hou_6.svg"); }
.tra-1 { background-image:url("../gap/svg/interest/tra_1.svg"); }
.tra-2 { background-image:url("../gap/svg/interest/tra_2.svg"); }
.tra-3 { background-image:url("../gap/svg/interest/tra_3.svg"); }
.tra-4 { background-image:url("../gap/svg/interest/tra_4.svg"); }
.tra-5 { background-image:url("../gap/svg/interest/tra_5.svg"); }
.tra-6 { background-image:url("../gap/svg/interest/tra_6.svg"); }

.volume
{
  width:23px;
  height:18px;
  background-size:23px 18px;
  background-repeat:no-repeat;
  background-position:0px;
  position:fixed;
  top:10px;
  right:15px;
  z-index:36;
  cursor:pointer;
}
.volume.on
{
 background-image:url("../gap/svg/common/sound.svg");
}
.volume.off
{
 background-image:url("../gap/svg/common/soundoff.svg");
}
.share
{  
  position:fixed;
  bottom:0px;
  right:0px;
  z-index:36;  
  opacity:0.6;
  background:transparent url("../gap/svg/common/fb.svg") no-repeat;
  background-size:33px;
  width:33px;
  height:33px;
}
.share:hover
{
  opacity:1;
  cursor:pointer;
}

/* summary */
.human-award,.human-award-diff
{
  overflow:visible !important;
}
.human-award > div 
{
  /*display:inline-block;*/
}
.title-award
{
  vertical-align:top;
}
.human-award div.circle,.human-award-diff div.circle
{
  position: relative;
  left: -6px;
  top: -19px;
  display:inline-block;
  z-index:36;
  background-color:#efefef;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family:Arial;
  font-color:#fff;
  padding:5px;  
}
.human-award div.circle .x,.human-award-diff div.circle .x
{
  padding-right:2px;
  display:inline-block;
}
.human-award div.circle > div,.human-award-diff div.circle > div
{
  display:inline-block;
}
.human-award .interest, .human-award-diff .interest
{
   width:50px;
   height:50px;
   display:inline-block;
   margin-left:10px;
   background-size:50px;
   background-repeat:no-repeat;
   background-position:0px;
   position:relative;
   top:0px;
   left:0px;
   z-index:35;
}




/* -------------------------------------------------- */
.poll
{
  width:100%;
  height:100%;
  background-color:#f3f2e8;
}
/*.poll .stage
{
  width:100%;
  height:100%;
}*/
.poll .info
{
  position:fixed; 
  top:-173px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);  
}
.poll .info .triangle
{    
  width: 346px;
  height: 346px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color:#ead343;
  position: relative;
  z-index:50;
}
.poll .info .text
{
  color:#b14d49;
  font-family:gandhi;
  font-size:20px;
  z-index:51;
  width:346px;
  height:200px;
  white-space:pre-line;
  position: relative;
  text-align: center;
  top: -159px;
}
.logo
{
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background:transparent url("../gap/svg/common/glogo.svg") no-repeat;
  background-size:51px 102px;
  width:51px;
  height:102px;
}
.logo:hover
{
  cursor:pointer;
}
.restart
{
  display:none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background:transparent url("../gap/svg/common/restart.svg") no-repeat;
  background-size:35px 69px;
  width:35px;
  height:69px;
  right:0px;
/*  filter: blur(1px); -webkit-filter: blur(1px); -moz-filter: blur(1px);
  -o-filter: blur(1px); -ms-filter: blur(1px);
  filter: url(blur.svg#blur);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');*/
}
.restart:hover
{
  cursor:pointer;
/*  filter: none; -webkit-filter: blur(0px); -moz-filter: blur(0px); -ms-filter: blur(0px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');*/
}
.poll .selector
{
  height:100%;
  width:100%;
}
.poll > .selector > .f.bypass,
.poll > .selector > .m.bypass
{
  width:100%;
}
.poll > .selector > .f,
.poll > .selector > .m
{
  position:relative;
  display:inline-block;  
  width:50%;
  height:100%;
}
.poll > .selector > div > .profile
{
  position:absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top:22px;
}
.poll > .selector.selectable > div.f
{
  cursor:w-resize;
}
.poll > .selector.selectable > div.m
{
  cursor:e-resize;
}
.poll > .selector > div.f > .profile
{
  right:35%;

}
.poll > .selector > div.m > .profile
{
  left:35%;
}
.poll > .selector > div > .profile > .face.m
{
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
  background-size:106px 166px;
  width:106px;
  height:166px;
  background:transparent url("../gap/svg/human/poll/md.svg") no-repeat; 
}

.poll > .selector.selectable > div:hover > .profile > .face.m,
.poll > .selector > div.selected > .profile > .face.m
{
   background:transparent url("../gap/svg/human/poll/m.svg") no-repeat; 
   cursor:pointer;
}
.poll > .selector > div.zoomout > .profile > .face.m
{ 
  background:transparent url("../gap/svg/human/poll/mds.svg") no-repeat;
  opacity:0.5;
}

.poll > .selector > div > .profile > .face.f
{ 
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
  background-size:105px 160px;
  width:105px;
  height:160px;
  background:transparent url("../gap/svg/human/poll/fd.svg") no-repeat;
}
.poll > .selector > div.zoomout > .profile > .face.f
{ 
  background:transparent url("../gap/svg/human/poll/fds.svg") no-repeat;
  opacity:0.5;
}

.poll > .selector.selectable > div:hover > .profile > .face.f,
.poll > .selector > div.selected > .profile > .face.f
{
   background:transparent url("../gap/svg/human/poll/f.svg") no-repeat; 
   cursor:pointer;
}

.poll > .selector > div > .profile > .t
{
  font-family:hallo-li;
  font-size:32.5px;
  color:#484849;
  text-align:center;
  display:block;
}
.poll > .selector > div > .profile > .a
{
  font-family:hallo-li;
  font-size:45px;
  color:#dd4832;
  text-align:center;
  display:block;
  position: relative;
  top: -96px;
  left: 93px;
}

.poll > .selector > div > .profile > .t:first-letter
{
  font-family:hallo-li;
  font-size:37.5px;
  color:#3f8b95;
  display:block;
}
.poll .prompt
{
  position:absolute;
  top: 10%;
  -webkit-transform: translateY(-13%);
  -ms-transform: translateY(-13%);
  transform: translateY(-13%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
}
.poll .prompt.gender
{
  position:absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
}
.poll .prompt .title > div 
{
  display:inline-block;
    -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}
.poll .prompt .title .text
{
  font-family:hallo-li;
  font-size:37.5px;
  color:#7abec3;
  margin: 0px 40px;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
/* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}
.poll .prompt .larrow
{
  position:relative;
  left:0px;
  background:transparent url("../gap/svg/common/larrow.svg") no-repeat;
  background-size:21px 25px;
  width:21px;
  height:25px;
}
.poll .prompt .rarrow
{
  position:relative;
  left:0px;
  background:transparent url("../gap/svg/common/rarrow.svg") no-repeat;
  background-size:21px 25px;
  width:21px;
  height:25px;
}
.poll .prompt .larrow.hover
{
  left:-35px;
}
.poll .prompt .rarrow.hover
{
  left:35px;
}
.poll .navigation
{
/*  position:fixed;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  bottom:20px;
  margin:0px auto;*/
}
.poll > .navigation > div
{
  display:inline-block;
}
.poll .prev
{
 background:transparent url("../gap/svg/common/prev.svg") no-repeat;
  background-size:9px 18px;
  width:9px;
  height:18px;
  line-height: 21px;
  vertical-align: middle;
  padding: 6px 10px;
  background-position: 11px 7px;
}
.poll .next
{
  background:transparent url("../gap/svg/common/next.svg") no-repeat;
  background-size:44px 71px;
  width:44px;
  height:71px;
  position:fixed;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  right:0px;
 /* line-height: 21px;
  vertical-align: middle;
  padding: 6px 10px;
  background-position: 11px 7px;*/
}
.poll .prev:hover,
.poll .next:hover
{
  cursor:pointer;
}
.poll .sep
{
  width:1px;
  height:25px;
  background-color:#7abec3;
  bottom:20px;
  margin: 0px 20px;
  line-height: 25px;
  vertical-align: middle;
/*  border-left:1px solid #a8d2d0;
  border-right:1px solid #a8d2d0;*/

}
.sun
{
  background:transparent url("../gap/svg/common/next.svg") no-repeat;
  background-size:40px 40px;
  width:40px;
  height:40px;

}