@font-face {
    font-family: "opensans-r";    
    src: url( '/assets/fonts/opensans-r.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "gandhi";    
    src: url( '/assets/fonts/gandhi-sans-i.otf') format("opentype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "gandhi-bi";    
    src: url( '/assets/fonts/gandhi-sans-bi.otf') format("opentype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "hallo";    
    src: url( '/assets/fonts/hallo-sans.otf') format("opentype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "hallo-li";    
    src: url( '/assets/fonts/hallo-sans-li.otf') format("opentype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "hallo-b";    
    src: url( '/assets/fonts/hallo-sans-b.otf') format("opentype");           
    font-style: normal;
    font-weight: 200;
}

*::-webkit-scrollbar-track
{
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
  background-color: #F8F8F8;
}

*::-webkit-scrollbar
{
  width: 8px;
  background-color: #F8F8F8;
}

*::-webkit-scrollbar-thumb
{
  background-color: #989898;
  border:2px solid #F8F8F8;
  cursor:pointer;
}
*::-webkit-scrollbar-thumb:hover
{
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
  background-color: #868686;      
}

body,html
{
   overflow:hidden;
   height:100%;
   margin:0px;
   padding:0px;
   background-color:#d3eded;
}
#screen
{
   position:fixed;
   width:100%;
   height:100%;
   background-color:#c15d46;
}
#screen .splash
{
   display:inline-block;
}
#screen .splash .title
{
   position:absolute;
   display:inline-block;
   font-family:Tahoma;
   font-size:25px;
   font-size:10vmin;
}
/* ------------------------------- hint to scroll or use arrows <-,-> ------------------------------- */
.wrapper > .hint
{
  position:fixed;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding:20px 30px;
  font-family:gandhi;
  font-size:18px;
  color:#c4c0b1;
  background-color:#fff;
  margin:0px auto;
  text-align:center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display:none;
}
.wrapper > .hint > div
{
  padding-bottom:3px;
}
.wrapper > .hint span
{
  color:#dc4d39; 
}
.wrapper > .hint span.shift
{
  position:relative;
  top:-9px;
}
.wrapper > .hint .key-scroll
{
  background-color:transparent;
  background-size:20px 45px;
  background-repeat:no-repeat;
  width:20px;
  height:45px;
  margin:0px auto;
}
.wrapper > .hint .key-right,
.wrapper > .hint .key-left
{
  background-color:transparent;
  background-size:26px 26px;
  background-repeat:no-repeat;
  width:26px;
  height:26px;
  margin:0px auto;
}
.wrapper > .hint .key-scroll
{
  background:transparent url("../gap/svg/common/key_scroll.svg") no-repeat;
}
.wrapper > .hint .key-left
{
  background:transparent url("../gap/svg/common/key_left.svg") no-repeat;
  margin-right:10px;
}
.wrapper > .hint .key-right
{
  background:transparent url("../gap/svg/common/key_right.svg") no-repeat;
  margin-left:10px;
}
/*<div class='hint'><div>Use<span>scroll</span></div><div class='scroller'></div><div>or</div><div><div class='arrow-left'></div><span></span><div class='arror-right'></div></div></div>*/
.wrapper > .hint > .inb > div
{
  display:inline-block;
}
/* ------------------------------- epilogue ------------------------------- */
.epilogue
{
   display:inline-block;
   position:fixed;
   width:100%;
   height:100%;
   background-color:#f1efe7;
   overflow:hidden;
}
.epilogue .slider
{
  position:relative;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
}
.epilogue .summary
{
  width:100%;
  height:100%;
  z-index:35;  
  margin:0px auto;
  overflow-y:auto;
  overflow-x:hidden;  
}
.epilogue .whatnext
{
  display:inline-block;
  z-index:66;
  background-color:#c15d46;
  display:inline-block;
  height:100%;
  width:100%;
}
.epilogue .whatnext .content
{
    overflow-y:auto;
    overflow-x:hidden;  
}
.epilogue .summary .content
{
  max-width: 800px;
  margin: 0px auto;  
}
.epilogue .summary .header,
.epilogue .summary .content,
.epilogue .summary .footer
{
  display:block;
  width:100%;
}
.epilogue .summary .header
{
  margin-bottom:40px;
}
.epilogue .summary .header .title
{
  width:100%;
  font-family:hallo;
  font-size:37.5px;
  color:#77b8c3;
  text-align:center;
  padding:30px 0px 5px 0px;
}
.epilogue .summary .header .title-score
{
  width:100%;
  font-family:hallo-b;
  font-size:30px;
  color:#77b8c3;
  text-align:center;
  margin-bottom:40px;
}
.epilogue .summary .header .title-job,
.epilogue .summary .header .title-passed
{
  font-family:hallo;
  font-size:25px;
  color:#db5c39;
  width:100%;
  text-align:center;
}
.epilogue .summary .header .title-job span,
.epilogue .summary .header .title-passed span
{
  color:#77b8c3;
}
/* content */
.summary .content .char .m
{
   background-image:url("../gap/svg/human/casual/m0.svg");
   background-color:transparent;
   background-size:67px 182px;
   background-repeat:no-repeat;
   width:67px;
   height:182px;
}
.summary .content .char .f
{
  background:transparent url("../gap/svg/human/casual/f0.svg") no-repeat;
  background-color:transparent;
  background-size:63px 172px;
  background-repeat:no-repeat;
  width:63px;
  height:172px;
}
.summary .content .char .l
{
  transform:scale(-1,1);
}
.epilogue .summary .content table 
{
  width:100%;
}
.epilogue .summary .content .char 
{
  width:80px;
  vertical-align: top;
}
.epilogue .summary .content .grid .row
{
  text-align:center;
}
.epilogue .summary .content .grid .row > div
{
  display:inline-block;
  overflow:hidden;
}
.epilogue .summary .content .grid .row > div:nth-child(1)
{
  text-align:right;
  padding-right:40px;
}
.epilogue .summary .content .grid .row > div:nth-child(2)
{
  text-align:center;
}
.epilogue .summary .content .grid .row > div:nth-child(3)
{
  text-align:left;
  padding-left:40px;
}
.epilogue .summary .content .grid .row .human-salary,
.epilogue .summary .content .grid .row .human-saved
{
  font-family:hallo;
  font-size:25px;
  color:#db5c39;
}
.epilogue .summary .content .grid .row .human-salary-diff,
.epilogue .summary .content .grid .row .human-saved-diff
{
  font-family:hallo;
  font-size:22.5px;
  color:#db5c39;
}
.epilogue .summary .content .grid .row .diff-value,
.epilogue .summary .content .grid .row .diff-value
{
  margin:-7px 0px 20px;
}

.epilogue .summary .content .grid .row .title-salary,
.epilogue .summary .content .grid .row .title-saved,
.epilogue .summary .content .grid .row .title-award
{
  font-family:hallo;
  font-size:25px;
  color:#77b8c3;
}
.epilogue .summary .content .grid .row .title-diff
{
  font-family:hallo;
  font-size:22.5px;
  color:#77b8c3;
}

.epilogue .summary .content .grid .row .box
{
  width:100%;
}
.epilogue .summary .content .grid .row .sumlarrow
{
  background:transparent url('/assets/gap/svg/common/sum_arrow_left.svg') no-repeat;
  background-size:7px 16px;
  background-position: 0px 6px;
  width:7px;
  height:29px;
  display:inline-block;
  float:left;
  margin-right:40px;
}
.epilogue .summary .content .grid .row .sumrarrow
{
  background:transparent url('/assets/gap/svg/common/sum_arrow_right.svg') no-repeat;
  background-size:7px 16px;
  background-position: 0px 6px;
  width:7px;
  height:29px;
  display:inline-block;
  float:right;
  margin-left:40px;
}
/* footer */
.epilogue .summary .footer
{
  height: 60px;
}
.epilogue .summary .footer .share
{
  float:right; 
  background:transparent url('/assets/gap/svg/common/sumfb.svg') center right no-repeat;
  background-size:27px 33px;
  height: 33px;
  line-height: 38px;
  vertical-align: middle;
  padding: 0px 42px 0px 23px;


}
.epilogue .summary .footer .replay
{
  float:left;
  height: 33px;
  line-height: 38px;
  vertical-align: middle;
  padding: 0px 23px;
}
.epilogue .summary .footer .btn
{
  background-color:#efda82;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: gandhi;
  font-size: 20px;
  color:#c15d46;
  opacity:0.8;
}
.epilogue .summary .footer .btn:hover
{
  cursor:pointer;
  opacity:1;
}
.epilogue .whatnext-trigger
{
  width:100%;
  position:relative;
  display:inline-block;
  z-index:67;
}
.epilogue .whatnext-trigger .label
{
  font-family:hallo;
  font-size:37.5px;
  color:#f1efe7;
  position:relative;  
  text-align:center;
  top:16px;
}
.epilogue .arrow
{
  position:absolute;
  background-size:75px 42px ;
  width:100%;
  height:42px;  
}
.epilogue .whatnext-trigger.up .arrow
{
  background:transparent url("../gap/svg/common/sum_arrow_up.svg") no-repeat center center;
  top:-25px;
}
.epilogue .whatnext-trigger.down .arrow
{
  background:transparent url("../gap/svg/common/sum_arrow_down.svg") no-repeat center center;
  top:-17px;
}
.epilogue .whatnext .content
{
  margin-top: 30px;
  padding:30px 70px;
  font-family:hallo;
  font-size:37.5px;
  color:#f1efe7;
}
/* ------------------------------- epilogue end ------------------------------- */


#screen .top
{
  top:0px;
}
#screen .top, #screen .bottom
{
  width:100%;
  position:absolute;
}
.treasure
{
  z-index:40;
  width:100%;
}
.treasure > div
{
  display:inline-block;
}
.treasure .pedestal
{  
  z-index:50;
/*  background-color: rgb(5, 143, 252);
  margin-left: 30px;
  padding: 0px 10px;
  color: white;
  height: 30px;
  line-height: 30px;*/
}
.treasure .red-carpet
{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height: 50px;
  line-height: 50px;
  transition: all 0.2s ease-out;
  z-index:50;
}
.treasure .red-carpet .reward
{
  position:absolute;
  top:0px;
}
.treasure .card
{
  position:absolute; 
  left:0px;
  top:0px;   
  z-index:51;
  min-height:56px;
  min-width:100px;
  padding: 14px 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color:#fff;
  display:none;
}
.treasure > .card > div
{
  display:inline-block;
}
.treasure .card .coins
{
  /*width:100%;*/
}
.treasure > .card > .text
{
  font-family:gandhi-bi;
  font-size:16px;
  color:#a3af7f;
  vertical-align:top;
  padding-top:8px;

}
.treasure > .card > .text > .data
{
  font-family:gandhi;
}
.treasure .red-carpet .reward .item,
.treasure .card .coins .coin.item
{

  width:50px;
  height:50px;
  display:inline-block;     
  background-size:50px;
  background-repeat:no-repeat;
  background-position:0px;   
  margin-right:10px;  
  transition: all 0.2s ease-out;
  position:relative;
}
.treasure > .card > .fb
{
  background:transparent url("../gap/svg/common/fb2.svg") no-repeat;
  background-size:28px 28px;
  width:28px;
  height:28px;
  position:absolute;
  top:0px;
  right:0px;
}
.treasure > .card > .fb:hover
{
  cursor:pointer;
}
#screen .top .score, #screen .bottom .score
{     
  position: fixed;
  top: 11px;
  display:inline-block;
  z-index:35;
  right:60px;
}
#screen .top .score div, #screen .bottom .score div
{
   display:inline-block;
}
#screen .score .label
{
  font-family:hallo;
  font-size:16px;
  color:#d88166;  
}
#screen .score .value
{
  font-family:hallo-li-b;
  font-size:16px;
  color:#c85752;  
}
#screen .stage .fg .i{ z-index:33; }
#screen .stage .fg .o{ z-index:36; }
#screen .stage .bg,
#screen .stage .fg
{
   position:absolute;
}
#screen .stage .bg > img
{
  position:absolute;
  top:0px;
  left:0px;
  z-index:33;
}
#screen .stage .fg > img
{
  position:absolute;
}
#screen .top .stage,#screen .bottom .stage
{
   position:absolute;
   left:0px;
   top:0px;
   /*transition: all 0.5s ease-out;*/
}

.character
{
  z-index:34;
}
/*.male
{
   background:transparent url("../gap/svg/human/casual/mr.svg") no-repeat center center;
   background-size:46px 100px;
    width:46px;
   height:100px;
}
.female
{
   background:transparent url("../gap/svg/human/casual/fr.svg") no-repeat center center;
   background-size:46px 100px;
   width:46px;
   height:100px;
}*/
#screen .m.character
{  
   background-image:url("../gap/svg/human/casual/m0.svg");
   background-color:transparent;
   background-size:67px 182px;
   background-repeat:no-repeat;
   width:67px;
   height:182px;
   position:absolute;
   left:0px;
   display:none;
}
#screen .f.character
{
   background:transparent url("../gap/svg/human/casual/f0.svg") no-repeat;
    background-color:transparent;
   background-size:63px 172px;
   background-repeat:no-repeat;
   width:63px;
   height:172px;
   position:absolute;
   left:0px;
    display:none;
}
#screen .l.character
{
  transform:scale(-1,1);
}
/* poll z-index */
.salary-picker,
.percent-picker 
{ z-index:31; }
.character { z-index:34; }

.poll-sub-label,
.age-picker,
.category-picker,
.interest-picker
{ z-index:32; } 
.logo,.poll .navigation, .poll .prompt { z-index:31; }
/*svg.stage-bk .mask{ z-index:31; }
svg.stage-bk { z-index:30; }*/

.abs { position:absolute; }
.rel { position:relative; }

.salary-picker,
.percent-picker 
{
   -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}
/*.m svg.stage-bk circle.bk
{
   fill:#ff94f8;
   stroke-width:1;
   stroke:#ff94f8;
   
}
.f svg.stage-bk circle.bk
{
   fill:#add2ff;
   stroke-width:1;
   stroke:#add2ff;
}

.m svg.stage-bk circle.mask
{
   fill:#add2ff;
   stroke-width:1;
   stroke:#ff94f8;
   
}
.f svg.stage-bk circle.mask
{
   fill:#ff94f8;
   stroke-width:1;
   stroke:#add2ff;
}*/

/* screen 2 end */


#screen .timeline
{
   position:absolute;
   background-color:#fffef9;
   width:100%;
}
.timeline .canvas
{
   position: relative;
   background-color: transparent;
   left: 0px; /*100px;*/
   width: 100%;
   height: 30px;
   overflow: hidden; 
   transition: all 0.2s ease-out;
}
#screen .timeline .point-in-time
{ 
   position:absolute;
   height: 30px;
   line-height: 30px;
   display:inline-block;
   top:0px;
}

.point-in-time .point
{
   width:81px;
   display:inline-block;
   text-align:center;
   font-family:hallo;
   font-size:16px;
   color:#c85752;
}
.point-in-time .mask
{
   position:relative;
   top:-30px;
   left:0px;
   width:81px;
   height:30px;
   background:transparent url('../gap/svg/common/point_mask.svg') no-repeat;
   background-size:81px 30px;
   background-position:0px 0px;
}
.timeline .serif
{
   position:absolute;
   top:0px;   
   width:1px;
   height:30px;
   background:transparent url('../gap/svg/common/timeline_tick.svg') no-repeat;
   background-size:1px 30px;
   background-position:0px 0px;
   display:inline-block;
}


.age-picker
{

   position:absolute;
   left:0px;   
   top:0px;
   overflow:visible;
}
.age-picker path
{
   stroke:#ead343;
}
.age-mover
{
   /*opacity:0.5;*/
   stroke:black;
   stroke-width:0;
   fill:#add2ff;
}
.age-mover:hover
{
   cursor:pointer;
}
/*
.mchar
{
  position:absolute;
   background:transparent url("../gap/svg/human/poll/md.svg") no-repeat; 
   background-size:100px 151px;
   width:100px;
   height:151px;
}*/
/*.mcharh:hover,.mcharh.selected
{
   background:transparent url("../gap/svg/human/poll/m.svg") no-repeat; 
   background-size:112px 175px;
   width:112px;
   height:175px;
   cursor:pointer;
}*/
/*.fchar
{
   position:absolute;
   background:transparent url("../gap/svg/human/poll/fd.svg") no-repeat;
   background-size:100px 151px;
   width:100px;
   height:151px;
}*/
/*.fcharh:hover,.fcharh.selected
{
  background:transparent url("../gap/svg/human/poll/f.svg") no-repeat; 
  background-size:112px 175px;
  width:112px;
  height:175px;
  cursor:pointer;
}*/



.poll .slider
{
   background-color:#ededed;
   position:absolute;
   width:210px;
   height:55px;
   border:1px solid #eaeaea;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   overflow:hidden;
  /* margin:0px 100px 0px 100px;*/
}
.poll-sub-label
{
   color:#006EF3;
   fill:#006EF3;
   font-size:45px;
   font-family:opensans-r;
}
.slider .on,.slider .off
{
   width:105px;
   height:55px;
   vertical-align:middle;
   text-align:center;
   line-height:55px;
   display:inline-block;
   font-family:opensans-r;
   position:relative;

}
.slider .on
{
   overflow:hidden;
   font-size:18px;
   color:#939393;
   z-index:303;
}
.slider .on:hover
{
   cursor:pointer;
}
.slider .off
{
   background-color:rgba(19, 166, 17, 0.3);
   overflow:hidden;
   font-size:25px;
   color:#ededed;
   cursor:e-resize;
   z-index:302;
}

.category-picker , .interest-picker
{
   position:absolute;
   left:0px;   
   top:0px;
   overflow:visible;
}
.category-item, .interest-item
{
   position:absolute;
   width:0px;
   height:0px;
}
.category-item > img, .interest-item > img
{
  width:52px;
  height:52px;
  opacity:0.7;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
  z-index:51;
  position:relative;
  border: 1px dashed #c24b3e;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.category-item > img:hover,.interest-item > img:hover
{
  opacity:1;  
  background-color: #efda82;
  border: 1px solid #efda82;
  cursor:pointer;
  -webkit-transition: opacity 400ms linear;
  -moz-transition: opacity 400ms linear;
  -ms-transition: opacity 400ms linear;
  -o-transition: opacity 400ms linear;
  transition: opacity 400ms linear;

}
.category-item.selected > img, .interest-item.selected > img
{
  opacity:1;
  background-color: #efda82;
  border: 1px solid #efda82;
  -webkit-transition: opacity 400ms linear;
  -moz-transition: opacity 400ms linear;
  -ms-transition: opacity 400ms linear;
  -o-transition: opacity 400ms linear;
  transition: opacity 400ms linear;

}
.category-item.zoom > img, .interest-item.zoom > img
{
  opacity:1;
   -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
  transform:scale(1.5,1.5);

}
.salary-picker.zoom, .percent-picker.zoom
{
  opacity:1;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
  transform:scale(1.2,1.2);
}
.category-item > img:hover + .hint
{
  visibility:visible;
} 
.category-item > div.hint
{
  background-color:#fff;
  color:#b94531;
  fill:#b94531;
  font-family:gandhi;
  font-size:16px;
  white-space: pre;
  padding:6px 10px;
  position:relative;
  visibility:hidden;
  display: inline-block;
  z-index:50;
}
.interest-item > div.hint
{
  color:#c24b3e;
  fill:#c24b3e;
  font-family:gandhi;
  font-size:15px;
  white-space: pre;
  position:relative;
  display: inline-block;
}
.npicker.inactive
{
  opacity:0.5;

}
.npicker input
{
   height: 42px;
   width: 144px;
   font-family: hallo-li;
   font-size: 40px;
   color: #dd4832;
   line-height:40px;
   text-align: center;
   border:1px solid #ecdc69;
   display:none;
   outline:none;  
   margin-right:10px; 
}
.npicker .part:first-of-type
{
   /*border-left:1px solid #ecdc69;*/
}
.npicker div:nth-child(6)
{
   border-right:1px solid #ecdc69;
   margin-right:10px;
}
.npicker.inactive div.part
{
  cursor:default;
}
.npicker div.part
{
   height: 44px;
   width: 28px;
   font-family: hallo-li;
   font-size: 45px;
   color: #dd4832;
   line-height:44px;
   text-align: center;
   border-top:1px solid #ecdc69;
   border-bottom:1px solid #ecdc69;
   border-left:1px solid #ecdc69;
   display:inline-block;
   -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
/* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  cursor:row-resize;
}
.npicker div.t
{
  font-family:hallo-li;
  font-size:30px;
  color:#7abec3;
  white-space: pre;
  display:block;
  line-height: 24px;
}
.npicker div.t.left
{
  display:inline-block;
  text-align:right;
  font-size:27.5px;
  margin-right:30px;
  vertical-align:middle;

}
.npicker div.gel
{
  background:transparent url('/assets/gap/svg/common/gel.svg') no-repeat;
  background-size: 19px 23px;
  background-position: 0px 16px;
  width: 22px;
  height: 42px;
  display: inline-block;  

}

/* Progress Bar */
.splash
{
  position:fixed;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  width:100%;
  height:258px;


}
.splash .box
{
  background:transparent url('/assets/gap/svg/common/splash.svg') no-repeat;
  background-size: 259px 258px;
  width:259px;
  height:258px;
  margin:0px auto;
  border-radius:100%;
  overflow:hidden;
  z-index:61;
}
.splash .percent
{
  position: absolute;
  bottom: 40px; 
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%; 
  margin:0px auto;  
  font-family:hallo;
  font-size:37.5px;
  color:#77b8c3;
  z-index:63;
}
.splash .mask
{
  position: relative;
  bottom: -258px;
  left: 0px;
  width:259px;
  height:258px;
  margin:0px auto;
  background-color:#edd25f;
  z-index:62;
}
.splash .coins
{  
  position:relative;
  width:100px;
  height:100%;
  margin:0px auto;
  z-index:61;
}
.splash .coins .coin
{
  position:absolute;
  top:0px;
  left:0px;
  display:inline-block;
  background:#edd25f url('/assets/gap/svg/common/gel-white.svg') no-repeat;
  background-size: 10px 13px;
  width: 22px;
  height: 22px;
  background-position: 6px 4px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
/* Progress Bar */


.treasure .pedestal
{
   width:auto;
   position:fixed;
   left:10px;
}
.treasure .pedestal .interestB
{
   display:inline-block;
   position:relative;
  transition: all 2s ease-out;
}
 .treasure > .pedestal > .interestB > div.mutationB
{
   display:inline-block;
   height:50px;
   overflow:visible;
   white-space: nowrap;
}
.treasure .pedestal .interestB > div.item,
.treasure .pedestal .interestB > div.mutationB > div.item,
.interest
{
   width:50px;
   height:50px;
   display:inline-block;
   margin-left:10px;
   background-size:50px;
   background-repeat:no-repeat;
   background-position:0px;
   position:relative;
   top:0px;
   left:0px;
}
.vac-1 { background-image:url("../gap/svg/interest/vac_1.svg"); }
.vac-2 { background-image:url("../gap/svg/interest/vac_2.svg"); }
.vac-3 { background-image:url("../gap/svg/interest/vac_3.svg"); }
.vac-4 { background-image:url("../gap/svg/interest/vac_4.svg"); }
.vac-5 { background-image:url("../gap/svg/interest/vac_5.svg"); }
.vac-6 { background-image:url("../gap/svg/interest/vac_6.svg"); }
.gad-1 { background-image:url("../gap/svg/interest/gad_1.svg"); }
.gad-2 { background-image:url("../gap/svg/interest/gad_2.svg"); }
.gad-3 { background-image:url("../gap/svg/interest/gad_3.svg"); }
.gad-4 { background-image:url("../gap/svg/interest/gad_4.svg"); }
.gad-5 { background-image:url("../gap/svg/interest/gad_5.svg"); }
.gad-6 { background-image:url("../gap/svg/interest/gad_6.svg"); }
.edu-1 { background-image:url("../gap/svg/interest/edu_1.svg"); }
.edu-2 { background-image:url("../gap/svg/interest/edu_2.svg"); }
.edu-3 { background-image:url("../gap/svg/interest/edu_3.svg"); }
.edu-4 { background-image:url("../gap/svg/interest/edu_4.svg"); }
.edu-5 { background-image:url("../gap/svg/interest/edu_5.svg"); }
.edu-6 { background-image:url("../gap/svg/interest/edu_6.svg"); }
.hou-1 { background-image:url("../gap/svg/interest/hou_1.svg"); }
.hou-2 { background-image:url("../gap/svg/interest/hou_2.svg"); }
.hou-3 { background-image:url("../gap/svg/interest/hou_3.svg"); }
.hou-4 { background-image:url("../gap/svg/interest/hou_4.svg"); }
.hou-5 { background-image:url("../gap/svg/interest/hou_5.svg"); }
.hou-6 { background-image:url("../gap/svg/interest/hou_6.svg"); }
.tra-1 { background-image:url("../gap/svg/interest/tra_1.svg"); }
.tra-2 { background-image:url("../gap/svg/interest/tra_2.svg"); }
.tra-3 { background-image:url("../gap/svg/interest/tra_3.svg"); }
.tra-4 { background-image:url("../gap/svg/interest/tra_4.svg"); }
.tra-5 { background-image:url("../gap/svg/interest/tra_5.svg"); }
.tra-6 { background-image:url("../gap/svg/interest/tra_6.svg"); }

.volume
{
  width:23px;
  height:18px;
  background-size:23px 18px;
  background-repeat:no-repeat;
  background-position:0px;
  position:fixed;
  top:10px;
  right:15px;
  z-index:36;
  cursor:pointer;
}
.volume.on
{
 background-image:url("../gap/svg/common/sound.svg");
}
.volume.off
{
 background-image:url("../gap/svg/common/soundoff.svg");
}
.wrapper > .share
{  
  position:fixed;
  bottom:0px;
  right:0px;
  z-index:36;  
  opacity:0.6;
  background:transparent url("../gap/svg/common/fb.svg") no-repeat;
  background-size:33px;
  width:33px;
  height:33px;
}
.wrapper > .share:hover
{
  opacity:1;
  cursor:pointer;
}

/* summary */
.human-award,.human-award-diff
{
  overflow:visible !important;
}
.human-award > div 
{
  /*display:inline-block;*/
}
.title-award
{
  vertical-align:top;
}
.human-award .x
{
  font-family:hallo;
  font-size:25px;
  color:#c15d46;
  text-align:center;
}
.human-award div.circle,.human-award-diff div.circle
{
  position: relative;
  left: -6px;
  top: -19px;
  display:inline-block;
  z-index:36;
  background-color:#efefef;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family:Arial;
  font-color:#fff;
  padding:5px;  
}
.human-award div.circle .x,.human-award-diff div.circle .x
{
  padding-right:2px;
  display:inline-block;
}
.human-award div.circle > div,.human-award-diff div.circle > div
{
  display:inline-block;
}
.human-award .interest, .human-award-diff .interest
{
   width:50px;
   height:50px;
   display:inline-block;
   margin-left:10px;
   background-size:50px;
   background-repeat:no-repeat;
   background-position:0px;
   position:relative;
   top:0px;
   left:0px;
   z-index:35;
}




/* -------------------------------------------------- */
.poll
{
  width:100%;
  height:100%;
  background-color:#f3f2e8;
}
.info
{
  position:fixed; 
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);  
}
.info .triangle
{    
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color:#ead343;
  position: relative;
  z-index:50;
}
.info .text
{
  color:#b14d49;
  font-family:gandhi;
  z-index:51;
  white-space:pre-line;
  position: relative;
  text-align: center;
}
.logo
{
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background:transparent url("../gap/svg/common/glogo.svg") no-repeat;
  background-size:51px 102px;
  width:51px;
  height:102px;
}
/* Custom, iPhone Retina */ 
  @media only screen and (min-width : 320px) {
    .info
    {
      top:-123px;
    }
    .info .triangle
    {    
      width: 246px;
      height: 246px;
    }
    .info .text
    {
      font-size:16px;
      width:246px;
      height:200px;
      top: -115px;
    }
  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (min-width : 480px) {

  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {

  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
   
  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {
    .info
    {
      top:-173px;
    }
    .info .triangle
    {    
      width: 346px;
      height: 346px;
    }
    .info .text
    {
      font-size:20px;
      width:346px;
      height:200px;
      top: -159px;
    }
  }

.logo:hover
{
  cursor:pointer;
}
.restart
{
  display:none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background:transparent url("../gap/svg/common/restart.svg") no-repeat;
  background-size:35px 69px;
  width:35px;
  height:69px;
  right:0px;
/*  filter: blur(1px); -webkit-filter: blur(1px); -moz-filter: blur(1px);
  -o-filter: blur(1px); -ms-filter: blur(1px);
  filter: url(blur.svg#blur);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');*/
}
.restart:hover
{
  cursor:pointer;
/*  filter: none; -webkit-filter: blur(0px); -moz-filter: blur(0px); -ms-filter: blur(0px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');*/
}
.poll .selector
{
  height:100%;
  width:100%;
}
.poll > .selector > .f.bypass,
.poll > .selector > .m.bypass
{
  width:100%;
}
.poll > .selector > .f,
.poll > .selector > .m
{
  position:relative;
  display:inline-block;  
  width:50%;
  height:100%;
}
.poll > .selector > div > .profile
{
  position:absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top:22px;
}
.poll > .selector.selectable > div
{
  cursor:pointer;
}
.poll > .selector > div.f > .profile
{
  right:35%;
}
.poll > .selector > div.m > .profile
{
  left:35%;
}
.poll > .selector > div > .profile > .face.m
{
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
  background-size:106px 166px;
  width:106px;
  height:166px;
  background:transparent url("../gap/svg/human/poll/md.svg") no-repeat; 
}

.poll > .selector.selectable > div:hover > .profile > .face.m,
.poll > .selector > div.selected > .profile > .face.m
{
   background:transparent url("../gap/svg/human/poll/m.svg") no-repeat; 
   cursor:pointer;
}
.poll > .selector > div.zoomout > .profile > .face.m
{ 
  background:transparent url("../gap/svg/human/poll/mds.svg") no-repeat;
  opacity:0.5;
}

.poll > .selector > div > .profile > .face.f
{ 
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
  background-size:105px 160px;
  width:105px;
  height:160px;
  background:transparent url("../gap/svg/human/poll/fd.svg") no-repeat;
}
.poll > .selector > div.zoomout > .profile > .face.f
{ 
  background:transparent url("../gap/svg/human/poll/fds.svg") no-repeat;
  opacity:0.5;
}

.poll > .selector.selectable > div:hover > .profile > .face.f,
.poll > .selector > div.selected > .profile > .face.f
{
   background:transparent url("../gap/svg/human/poll/f.svg") no-repeat; 
   cursor:pointer;
}

.poll > .selector > div > .profile > .t
{
  font-family:hallo-li;
  font-size:32.5px;
  color:#484849;
  text-align:center;
  display:block;
}
.poll > .selector > div > .profile > .a
{
  font-family:hallo-li;
  font-size:45px;
  color:#dd4832;
  text-align:center;
  display:block;
  position: relative;
  top: -96px;
  left: 93px;
}

.poll > .selector > div > .profile > .t:first-letter
{
  font-family:hallo-li;
  font-size:37.5px;
  color:#3f8b95;
  display:block;
}
.poll .prompt
{
  position:absolute;
  top: 10%;
  -webkit-transform: translateY(-13%);
  -ms-transform: translateY(-13%);
  transform: translateY(-13%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
}
.poll .prompt.gender
{
  position:absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
}
.poll .prompt .title > div 
{
  display:inline-block;
    -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}
.poll .prompt .title .text
{
  font-family:hallo-li;
  font-size:37.5px;
  color:#7abec3;
  margin: 0px 40px;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
/* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}
.poll .prompt .larrow
{
  position:relative;
  left:0px;
  background:transparent url("../gap/svg/common/larrow.svg") no-repeat;
  background-size:21px 25px;
  width:21px;
  height:25px;
}
.poll .prompt .rarrow
{
  position:relative;
  left:0px;
  background:transparent url("../gap/svg/common/rarrow.svg") no-repeat;
  background-size:21px 25px;
  width:21px;
  height:25px;
}
.poll .prompt .larrow.hover
{
  left:-35px;
}
.poll .prompt .rarrow.hover
{
  left:35px;
}
.poll .navigation
{
/*  position:fixed;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  bottom:20px;
  margin:0px auto;*/
}
.poll > .navigation > div
{
  display:inline-block;
}
.poll .prev
{
 background:transparent url("../gap/svg/common/prev.svg") no-repeat;
  background-size:9px 18px;
  width:9px;
  height:18px;
  line-height: 21px;
  vertical-align: middle;
  padding: 6px 10px;
  background-position: 11px 7px;
}
.poll .next
{
  background:transparent url("../gap/svg/common/next.svg") no-repeat;
  background-size:44px 71px;
  width:44px;
  height:71px;
  position:fixed;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  right:0px;
 /* line-height: 21px;
  vertical-align: middle;
  padding: 6px 10px;
  background-position: 11px 7px;*/
}
.poll .prev:hover,
.poll .next:hover
{
  cursor:pointer;
}
.poll .sep
{
  width:1px;
  height:25px;
  background-color:#7abec3;
  bottom:20px;
  margin: 0px 20px;
  line-height: 25px;
  vertical-align: middle;
/*  border-left:1px solid #a8d2d0;
  border-right:1px solid #a8d2d0;*/

}
