@font-face {
    font-family: "hallo";    
    src: url( '/assets/fonts/DejaVu Sans Regular Condensed M.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "hallo-l";    
    src: url( '/assets/fonts/DejaVu Sans Regular Condensed M.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;         
}
@font-face {
    font-family: "hallo-b";    
    src: url( '/assets/fonts/DejaVu Sans Bold Condensed M.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "gandhi";    
    src: url( '/assets/fonts/DejaVuSans.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "gandhi-i";    
    src: url( '/assets/fonts/DejaVuSans-Oblique.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "gandhi-bi";    
    src: url( '/assets/fonts/DejaVuSans-BoldOblique.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "en-hallo";    
    src: url( '/assets/fonts/hallo-sans.otf') format("opentype");            
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "en-hallo-l";    
    src: url( '/assets/fonts/hallo-sans-l.otf') format("opentype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "en-hallo-b";    
    src: url( '/assets/fonts/hallo-sans-b.otf') format("opentype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "en-gandhi";    
    src: url( '/assets/fonts/gandhi-sans.otf') format("opentype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "en-gandhi-i";    
    src: url( '/assets/fonts/gandhi-sans-i.otf') format("opentype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "dejavusans-b";    
    src: url( '/assets/fonts/DejaVuSans-Bold.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}