<%- model_class = NewsItem -%>
<%- model_class_trans = NewsItemTranslation -%>
<% title t('.title', :title => @news_item.title) %>
<% title_right link_to(t('.all'), news_path, class: 'btn btn-default') %>


<p>
  <%= l @news_item.published_at if @news_item.published_at.present? %>
</p>

<div class="tinymce_format">
  <%= simple_format_no_tags(@news_item.content, {}, {sanitize: false}) %>
</div>

