<% title t('.title') %>

<div id="stories-list">

  <% if @news_items.present? %>

      <div id="stories" class="clear">
        <%= render partial: 'root/news_items' %>
      </div>
      <div id="pagination">
        <%= link_to_next_page(@news_items, t('helpers.links.load_more'), :remote => true) %>      
      </div>

  <% else %>
    <p>
    <%= t('.no_news') %>
    </p>
  <% end %>

</div>