<% title t('.title') %>

<div id="stories-list">

  <% if @publications.present? %>

      <div id="stories" class="clear">
        <%= render partial: 'root/publication_items' %>
      </div>
      <div id="pagination">
        <%= link_to_next_page(@publications, t('helpers.links.load_more'), :remote => true) %>      
      </div>

  <% else %>
    <p>
    <%= t('.no_publications') %>
    </p>
  <% end %>

</div>