@import "variables.css.less";

#about{

  #donor{
    margin-top: 90px;
    margin-bottom: 90px;
    position: relative;
    h2{
      margin: 0 0 0 -45px;
      display: block;
      padding: 10px 45px;
      color: #fff;
      background-color: @pink-color;
      font-size: 21px;
      line-height: 22px;
      font-family: "hallo";   
    }
    div.img{
      position: absolute;
      top: -77px;
      width: 100%;
      text-align: center;
      a{
        padding: 70px 30px;
        display: inline-block;
        margin: 0 auto;
        background-color: #f0f0f0;
      }
    }
  }

  #partners{
    h2{
      margin: 0 0 0 -45px;
      display: inline-block;
      padding: 10px 45px;
      color: @blue-header-color;
      background-color: @grey-background;
      font-size: 19px;
      line-height: 20px;
      font-family: "hallo";   
    }
    .row{
      margin: 6px 0;
      .org-block{
        padding: 6px;
        & > div{
          padding-top: 30px;
          height: 400px;
          position: relative;
          .img{
            text-align: center;
            margin-bottom: 40px;
            img{
              -webkit-filter: grayscale(100%);
              -moz-filter: grayscale(100%);
              filter: grayscale(100%);
            }
          }
          h3{
            position: absolute;
            top: 150px;
            padding: 0 15px;
            margin: 0;
            width: 100%;
            text-align: center;
            font-size: 19px;
            line-height: 20px;
            font-family: "hallo";   
          }
          .story{
            position: absolute;
            bottom: 50px;
            text-align: center;
            padding: 0 15px;
          }
        }
        &#a42 > div{
          background-color: #f0f0f0;
        }
        &#css > div{
          background-color: #e0ebea;
          padding-top: 45px;
          .story{
            bottom: 70px;
          }
        }
        &#gtuc > div{
          background-color: #eee5e9;
        }
        &#nmap > div{
          background-color: #faf4ec;
          padding-top: 47px;
        }
        &#js > div{
          background-color: #ecefe4;
        }
      }
    }
  }

}