@import "variables.css.less";

#landing{
  p{
    color: @text-color;
  }

  #into-content{
    & > div:first-of-type {
      position: relative;
      & > div{
        position: absolute;
        top: 0;
        right: 10px;
        max-width: 500px;
      }
    }
    & > div:last-of-type > div{
      position: relative;
      max-width: 500px;
      margin-left: 10px;
      img{
        max-width: 500px;
      }
      a{
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -20px;
        display: block;
        color: #fff;
        background-color: @pink-color;
        padding: 10px 24px 10px 18px;
        font-size: 17px;
        line-height: 17px;
        font-family: "title-font";   
        font-size: 18px;        
        span{
          display: block;
          text-transform: uppercase;
          font-family: "title-font-bold";   
        }
        &:hover{
          text-decoration: none;
        }
      }
      div{
        position: absolute;
        bottom: 0;
        opacity: 0.9;
        background-color: @blue-header-color;
        color: #fff;
        padding: 4px 12px;
        width: 100%;
        font-weight: bold;
        font-family: "title-font";   
        p{
          color: #fff;
          font-weight: bold;
          font-family: "title-font";   
        }
      }
    }
  }

  #get-involved{
    margin-left: -30px;
    margin-right: -30px;
    #get-involved-header{
      margin-top: 80px;
      text-align: center;
      color: @pink-color;
      font-size: 20px;
      text-transform: uppercase;
      font-family: "title-font";   
      span{
        font-family: "title-font-bold";   
        font-size: 25px;
      }
    }
    #get-involved-content{
      background-image: url('/assets/gplaypattern.png');
      margin-top: 0;
      min-height: 275px;
      vertical-align: top;

      h3{
        margin: 0 -15px 20px;
        text-align: center;
        color: #fff;
        background-color: @blue-header-color;
        font-size: 18px;
        font-family: "title-font";   
        padding: 10px 0;
        position: relative;
        &:before{
          position: absolute;
          bottom: -10px;
          left: 50%;
          margin-left: -20px;
          content:"";
          width: 0; 
          height: 0; 
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 10px solid @blue-header-color;
          z-index: 500;
        }
      }
      #stories{
        ul{
          li{
            & > div:first-of-type{
              color: @pink-color;
              font-family: "main-font-italic";
              font-size: 12px;
              text-align: right;
            }
            & > div:last-of-type{
              border-left: solid 1px @pink-color;
              a{
                color: @text-color;
                font-family: "main-font-bold";
              }
            }
          }
        }
        #story-links{
          margin-top: 30px;
          & > div{
            text-align: center;
            &:first-of-type a{
              font-family: "title-font";   
              color: #fff;
              background-color: @pink-color;
              padding: 10px 18px;
              font-size: 18px;
              line-height: 18px;
              display: inline-block;
            }
            &:last-of-type a{
              font-family: "title-font";   
              color: #fff;
              background-color: @blue-header-color;
              padding: 10px 18px;
              font-size: 18px;
              line-height: 18px;
              display: inline-block;
            }
          }
        }
      }

      #game{
        background-image: url('/assets/game.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: auto 100%;
        position: relative;
        min-height: 275px;
        #game-explanation{
          margin: 50px -15px 0;
          color: #fff;
          background-color: #c65551;
          opacity: 0.9;
          padding: 4px 12px;
          font-family: "main-font-bold";
        }  
        #game-link{
          position: absolute;
          bottom: 8px;
          left: 0;
          width: 100%;
          text-align: center;
          a{
            color: #fff;
            background-color: @blue-header-color;
            padding: 10px 18px;
            text-transform: uppercase;
            font-family: "title-font";   
            font-size: 18px;
          }
        }
      }

      #explore{
        p{
          padding: 20px;
          font-size: 14px;
          padding: 0 10px;
          line-height: 15px;
          color: @text-color;
          font-family: "main-font-bold";
        }
        #explore-image{
          text-align: center;
          img{
            width: 75%;
            margin-top: -30px;
          }
        }
        #explore-link{
          text-align: center;
          margin-top: 15px;
          a{
            color: #fff;
            background-color: @blue-header-color;
            padding: 10px 18px;
            font-family: "title-font";   
            font-size: 18px;
          }
        }        
      }
    }
  }


  #video-header{
    margin-top: 80px;
    text-align: center;
    color: #7f8080;
    font-family: "title-font";   
    font-size: 24px;
    text-transform: uppercase;
  }
  #video-content{
    padding: 0 20px;  
    & > div{
      text-align: center;
      margin-bottom: 25px;
      .video-title{
        color: @pink-color;
        font-family: "main-font-bold";
      }
    }
  }

  #latest{
    margin: 80px -30px 0;

    #latest-content{
      background-image: url('/assets/gplaypattern.png');
      margin-top: 0;
      padding: 0 20px 15px;  

      h3 {
        background-color: #fff;
        margin: 0 -35px 20px;
        text-align: center;
        color: @pink-color;
        font-size: 14px;
        border-bottom: solid 1px @grey-line;
        padding: 10px 0;
        position: relative;
        margin-bottom: 30px;
        & > div{
          font-family: "title-font";   
          font-size: 18px;
          
          &:before{
            position: absolute;
            bottom: -9px;
            left: 50%;
            margin-left: -18px;
            content:"";
            width: 0; 
            height: 0; 
            border-left: 18px solid transparent;
            border-right: 18px solid transparent;
            border-top: 9px solid #fff;
          }
        }
        &:before{
          position: absolute;
          bottom: -10px;
          left: 50%;
          margin-left: -20px;
          content:"";
          width: 0; 
          height: 0; 
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 10px solid @grey-line;
        }
      }

      & > div {
        border-right: solid 1px @grey-line;
        padding: 0 20px;
        &:last-of-type{
          border-right: none;
        }
      }
      #laws{
        a{
          text-transform: capitalize;
        }
      }
      .latest-list{
        li{
          margin-bottom: 20px;
          .title{
            font-weight: bold;
            a{
              color: @text-color;
            }
          }
          .date{
            color: @pink-color;
            font-style: italic;
            font-size: 12px;
          }
        }
      }
      .more{
        font-size: 12px;
        a{
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #landing{
    #into-content{
      & > div:first-of-type {
        & > div{
          position: inherit;
        }
      }
    }
    #latest{
      #latest-content{
        & > div {
          border-right: none;
        }
      }
    }
  }
}