form.story{
  #row1{
    margin-bottom: 35px;
  }
  .story-box{
    padding: 5px 10px;
    border-right: solid 1px #cdcdcd;
    &:last-of-type{
      border-right: none;
    }
  }
}

ul#story-meta-list li{
  vertical-align: top;
}